version: "3.9"

services:
  airbase:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: airbase
      POSTGRES_PASSWORD: airbase
      POSTGRES_DB: airbase
    ports:
      - "5432:5432"